# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Venkey\Downloads\crash-course-CRM-Part-12-Filter-Form\crash-course-CRM-Part-12-Filter-Form\crm1_v12_filter_form\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
